* {
    box-sizing: border-box;
}

body {
    background-image: url("img/full-bloom.png");
}

h1 {
    padding-left: 20px;
    text-align: center;
}

h3 {
    margin: 0;
}

img {
    height: 80px;
    width: 120px;
    float: right;
    margin-right: 50px;
}

.header {
    height: 90px;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    padding: 0;
}

.heading {
    font-size: 30px;
    float: left;
    list-style-type: none;
    padding: 10px 0px;
    width: 20%;
    text-align: center;
}

.dataList {
    height: 90px;
    border-bottom: black solid 2px;
    padding-left: 15px;
}

.data {
    float: left;
    list-style-type: none;
    width: 20%;
    font-size: 25px;
    text-align: center;
}

form {
    margin: 10px;
}

input {
    margin: 10px;
}

.textBox {
    display: block;
}

@media screen and (max-width:980px) {

    .heading {
        font-size: 25px;
        width: 20%;
    }

    .data {
    font-size: 20px;
        width: 20%;
    }

    .dataList {
        height: 100px;

    }

    img {
        margin-right: 15px;
        height: 70px;
        width: 100px;
    }

}

@media screen and (max-width:580px) {
    .heading {
        font-size: 18px;
    }

    .data {
        font-size: 16px;
    }

    .dataList {
        height: 120px;
    }

    img {
        height: 50px;
        width: 80px;
    }
}


