* {
    box-sizing: border-box;
}

body {
    background-image: url("img/full-bloom.png");
}

container {
    width: 90%;
    overflow: auto;
}

h1 {
    padding-left: 20px;
    text-align: center;
}

h3 {
    margin: 10px auto;
}

img {
    height: 70px;
    width: 110px;
    float: right;
    margin: 10px 50px 0 0;

}

.header {
    height: 60px;
    border: black solid 2px;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    background-color: deepskyblue;
}

.heading {
    font-size: 30px;
    float: left;
    list-style-type: none;
    padding: 10px 0px;
    width: 20%;
    text-align: center;
}

.dataList {
    height: 90px;
    width: 90%;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    border-left: black solid 2px;;
    padding-left: 15px;
    margin: 0 auto;
}

.data {
    float: left;
    list-style-type: none;
    width: 20%;
    font-size: 25px;
    text-align: center;
}

form {
    float: left;
    margin-left: 5%;
}

input {
    padding: 7px;
    border-radius: 5px;
    background-color: deepskyblue;
}

input:hover {
    background-color: transparent;
    padding: 7px 12px;
    border: 2px deepskyblue solid;
    transition: ease 0.5s;
}

.textBox {
    display: block;
    background-color: springgreen;
    margin: 10px 0 10px 0;
}

p {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:1080px) {

    .heading {
        font-size: 25px;
    }

    .data {
    font-size: 20px;
    }

    .dataList {
        height: 100px;

    }

    img {
        margin-right: 15px;
        height: 70px;
        width: 100px;
    }
}

@media screen and (max-width:880px) {
    .heading {
        font-size: 18px;
    }

    .data {
        font-size: 16px;
    }

    .dataList {
        height: 80px;
    }

    img {
        height: 50px;
        width: 80px;
    }
}

@media screen and (max-width:520px) {
    .data {
        font-size: 12px;
    }

}